<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Eleonora Kazakova</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="content">
    <header>
      <div class="topic">
        <div class="textArticle">
          <p>Evaluate a News Article with Natural Language Processing</p>
        </div>
      </div>
    </header>

    <div class='main'>
      <div class="flex">

        <div class="text textSpace">
          Input text
        </div>

        <textarea class='formText' id="text" type="text" rows='15' wrap="hard" placeholder="Input text here"></textarea>

        <div class="sentences">
          <div class="text">
            Input URL
          </div>
          <input id="url" type="text" placeholder="Input URL here">
          <span id="error"></span>
        </div>

        <div class="sentences">
          <div class="text">Sentences:</div>
          <input id="number" type="number" value='5'>
        </div>

        <div class="submit">
          <div class="text" id='submit'>
            Submit
          </div>
        </div>

        <div class="results">
          <div class="text textSpace">
            Results
          </div>

        </div>
        <textarea class='formText' id="results" type="text" rows='15' wrap="hard" placeholder="Result"></textarea>

      </div>
    </div>

    <footer>
      <div class="text textFooter"> Copyright 2020 </div>
    </footer>
  </div>
  <script>

    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>

</body>

</html>