@use 'stylesContent';

$font-stack: 'Noto Sans SC', sans-serif;

@media  (min-width: 280px) and (max-width: 800px){
  .content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px auto 100px;
    grid-template-areas: 
    'hd'
    'mn'
    'ft';
    min-height: 100vh;
  }

  .main {
    grid-area: mn;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.308);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .topic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 30px;
  }

  .textArticle {
    color: aliceblue;
    flex: 20 0 250px;
    font-family: $font-stack;
    font-size: 25px;
  }
}

@media  (min-width: 800px){
  .content {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
    'hd hd hd'
    'lf mn rt'
    'ft ft ft';
    min-height: 100vh;
    
  }

  .textArticle {
    color: aliceblue;
    font-family: $font-stack;
    flex: 10 0 300px;
    font-size: 30px;
  }

  .main {
    grid-area: mn;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.308);
    margin: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .topic{
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
    font-size: 40px;
  }
}
 
